
.img-top{
  width: 100%;
  height: 340px;
  object-fit: fill;
  cursor: pointer;
}

.container{
  position: relative;
}

.campaign-status-block {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 3px;
  border-radius: 7px 0 0px 7px;
}

.campaign-status-text{
  top: 10px;
  right: 0px;
  color: white;
  /* opacity: 9; */
}

.campaings-card-text {
  cursor: pointer;
}

.card {
  width: 90%;
  height: max-content;
}

.card-body{
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
} 
.card-title{
  font-weight: bold;
}

.card-text-container {
  -webkit-column-width: 200vw;
  -moz-column-width: 200vw;
  column-width: 200vw;
  text-align-last: justify;
}

.progress {
  position: relative;
  height: 8px !important;
}

.progress-bar{
  height: 8px;
}

.progress > .progress-completed {
  position: absolute;
  right: 2%;
  font-weight: 800;
  height: 100%;
  vertical-align: middle;
  float: right;
  margin-top: 8px;
}

.raised-capital {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 98%;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 820px) {
  .card {
    width: 100%;
  }
} 
