.logo {
    float: left;
    width: 100px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
  }
.site-layout 
.site-layout-background {
    background: #fff;
  }

.menu {
  color: #fff;
}

.navigation-bar {
  font-size:medium;
}

.nav-brand {
  font-size: 1.50rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  color: #00b964;
}

#nav-link{
  font-size: 17px;
  font-weight: 600;
  color: #7A7A7A;
  letter-spacing: 0.1rem;
}

#nav-link:hover {
  color: #2e3c4b;
}

.nav-dropdown {
  font-size: 17px;
  font-weight: 600;
  color: #7A7A7A;
  letter-spacing: 0.1rem;
}