.my-card {
  width: 100%;
  height: 50%;
}

.card-text-container {
  column-width: 150vw;
  text-align-last: start;
}

.card-campaign-status-block {
  position: absolute;
  top: 0px;
  right: 25px;
  background-color: #FFF759 !important;
  color: black !important;
  padding: 5px;
  border-radius: 5px;
}

.progress {
  position: relative;
  height: 25px;
}

.progress > .progress-completed {
  position: absolute;
  right: 2%;
  font-weight: 800;
  height: 100%;
  vertical-align: middle;
  float: right;
  margin-top: 8px;
}

.raised-capital {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 98%;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 820px) {
  .card {
    width: 100%;
  }
}
