.link-static{
    background-color: #f0edeb !important;
    border: none !important;
}

.link-static:hover {
    background-color: #fed857 !important;
    color: #2e3c4b !important;
}

.current-page{
    background-color: #fed857 !important;
    color: black;
}

.link-static-text{
    color: #2e3c4b !important;
    font-weight: bold;
}

.page-number {
    border: none !important;
    border-radius: 3px 3px 3px 3px !important;
}